body {
  background: #65647C;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background: #333;
  color: #fff;
}

body.dark .footer {
  background: #444;
}

@keyframes snow {
  0% {
    top: -10%;
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}

.snowflake {
  position: absolute;
  top: -10%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  animation: snow 7s linear infinite;
  pointer-events: none;
  z-index: 1;
}

.snowflake.blast {
  animation: none;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 165, 0, 0.8), rgba(255, 255, 0, 0.8), rgba(0, 255, 0, 0.8), rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8));
  transform: scale(10);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.blast-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200vw;
  height: 200vh;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 165, 0, 0.8), rgba(255, 255, 0, 0.8), rgba(0, 255, 0, 0.8), rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8));
  transform: translate(-50%, -50%);
  animation: blast 1s forwards;
  z-index: 2;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.theme-toggle:hover {
  background-color: #555;
}

body.light .theme-toggle {
  background-color: #65647C;
  color: black;
}

body.light .theme-toggle:hover {
  background-color: #8382a1;
}

.footer {
  height: 8%;
  background-color: #8382a1;
  margin-top: 10px;
  margin-bottom: 2%;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.footer-content {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content a {
  text-decoration: none;
  color: #ede5e5;
}

.footer-content p {
  margin: 3px;
  color: #ede5e5;
}

.footer-content a:hover {
  text-decoration: underline;
  color: rgb(253, 224, 6);
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 1080px) {
  .app-container {
    padding: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    align-items: center;
  }

  .displayUpload {
    height: 80%;
  }

  .theme-toggle {
    top: 10%;
    right: 10%;
    padding: 5px 10px;
  }

  .footer {
    height: auto; /* Set height to auto to adjust based on content */
    margin-top: 10px;
    padding: 10px; /* Add padding to give enough space inside the footer */
    width: 100%; /* Ensure the footer takes the full width of the screen */
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in the element's width and height */
  }

  .footer-content {
    display: block; /* Display content in block layout */
  }

  .footer-content p, .footer-content a {
    margin: 5px 0; /* Space between text and links */
    display: block; /* Ensure each element takes up its own line */
  }
}
