body{
    padding: 5px;
    border: 1px solid #ccc;
}

.login-container {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container button{
    border-color: #196BCA;
    margin: 10px;
    height: 40px;
    width: 60%;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    border-radius: 5px;
    background: #196BCA;
    background-color: linear-gradient(to right,#196BCA ,#0b4adc);
    background: radial-gradient(circle, rgba(4,180,226,1) 23%, rgba(83,177,199,1) 93%);
    cursor: pointer;
}

.login-container button:hover{
 background: linear-gradient(to right,#5482d0 ,#7d5ee3);
 background-color: #5482d0;
}
.login-container button:active{
 transform: scale(0.95);
}


/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th:nth-child(1), td:nth-child(1) {
    width: 30%;
  }
  
  th:nth-child(2), td:nth-child(2) {
    width: 60%;
  }
  
  th:nth-child(3), td:nth-child(3) {
    width: 10%;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }
